.container{
    padding-top: 40px;
    align-content: center;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;

}

.level1, .level2, .level3, .level4{
    display: flex;
    flex-direction: column;
    position: relative;

}
.level1{
    left: 250px;
}

.level2{
    left: 30px;
}
.level3{
    left: 30px;
}
.level4{
    left: 30px;
}

.checkboxContainer{
    margin: auto;
    width: 50%;
}

.checkboxContainer1{
    position: relative;
    width: 30%;
    left: 100px;
}

.allCheckbox{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 100px;
}

.restCheckbox{
    display: flex;
}

.leftCheckbox{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: left;
}

.rightCheckbox{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: left;
}