<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Easy BLAST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li routerLinkActive="active"  class="nav-item">
        <a class="nav-link" routerLink="/results">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->